@media screen and (max-width: 1200px) {
    :root {
        --color-blue: #08376C;
        --color-light-blue: #8ed8f6;
        --color-red: #E13F3F;
        --color-white: #FFFFFF;
        --color-dark-gray: #4A4A4A;
        --color-gray: #dee1e7;
        --color-dark: #191919;

        --size-text: 18px;
        --size-text-large: 24px;
        --size-text-small: 16px;

        --size-heading: 32px;
        --size-heading-large: 38px;
        --size-heading-small: 28px;
    }
}

@media screen and (max-width: 1100px) {
    :root {
        --size-text: 18px;
        --size-text-large: 24px;
        --size-text-small: 16px;

        --size-heading: 32px;
        --size-heading-large: 38px;
        --size-heading-small: 28px;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --size-text: 18px;
        --size-text-large: 24px;
        --size-text-small: 16px;

        --size-heading: 32px;
        --size-heading-large: 38px;
        --size-heading-small: 28px;
    }
}

@media screen and (max-width: 950px) {
    :root {
        --size-text: 18px;
        --size-text-large: 24px;
        --size-text-small: 16px;

        --size-heading: 32px;
        --size-heading-large: 38px;
        --size-heading-small: 28px;
    }

    .header_settings {
        width: 100%;
        margin-top: 10px;
    }

    .header_settings form {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --size-text: 18px;
        --size-text-large: 24px;
        --size-text-small: 16px;

        --size-heading: 32px;
        --size-heading-large: 38px;
        --size-heading-small: 28px;
    }

    .main-hero_smaller_post {
        width: 45%;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --size-text: 18px;
        --size-text-large: 24px;
        --size-text-small: 16px;

        --size-heading: 32px;
        --size-heading-large: 38px;
        --size-heading-small: 28px;
    }

    .main-hero_side_bar_slider {
        display: none;
    }

    .main-hero_post_wrapper {
        width: 100%;
    }

    .main-hero_smaller_post {
        width: 30%;
    }

    .main-hero_action_list {
        width: 100%;
    }

    .news_list {
        flex-wrap: wrap;
    }

    .news_item {
        width: 30%;
        margin-top: 5%;
    }

    .news_item:nth-child(1) {
        margin-top: 0;
    }

    .nav_sidebar {
        display: none;
    }

    .cat_list,
    .detail_reg {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --size-text: 18px;
        --size-text-large: 24px;
        --size-text-small: 16px;

        --size-heading: 31px;
        --size-heading-large: 37px;
        --size-heading-small: 27px;
    }

    .detail_reg-list {
        flex-direction: column;
    }

    .detail_reg-item.info {
        margin-left: 0;
    }

    .headers_item {
        flex-direction: column;
    }

    .headers_info_wrapper {
        margin-top: 5%;
        margin-left: 0;
    }

    .number_container {
        max-width: none;
        margin: 0;
        padding: 0;
    }

    .main-hero_numbers_list {
        width: 100%;
        flex-direction: column;
        text-align: center !important;
        border-radius: 0;
    }

    .main-hero_numbers_item.left {
        text-align: center;
    }

    .main-hero_numbers_item.right::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        background: var(--color-white);
        height: 1px;
        left: 0;
        top: 0;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --size-text: 18px;
        --size-text-large: 22px;
        --size-text-small: 16px;

        --size-heading: 30px;
        --size-heading-large: 36px;
        --size-heading-small: 26px;
    }

    .main-hero_smaller_post {
        width: 48%;
    }

    .header_top_wrapper {
        flex-direction: column;
        text-align: center;
    }

    .header_top_info_wrapper {
        margin-top: 10px;
    }

    .news_item {
        width: 48%;
    }

}

@media screen and (max-width: 500px) {
    :root {
        --size-text: 17px;
        --size-text-large: 20px;
        --size-text-small: 15px;

        --size-heading: 29px;
        --size-heading-large: 35px;
        --size-heading-small: 25px;
    }

    .header_navigation_item {
        width: 100%;
    }

    .header_navigation_list {
        overflow-y: hidden;
        max-height: 0;
    }

    .header_search_wrapper {
        margin-bottom: 10px;
    }

    .header_navigation_item {
        margin-right: 0;
    }

    .header_navigation_item span {
        width: 100%;
        text-align: center;
    }

    .header_burger {
        display: inline-block;
        padding-right: 0;
    }

    .header_navigation_links_wrapper a {
        width: 100%;
    }

    .header_navigation_links_wrapper {
        position: static;
    }

    .header_navigation_links_wrapper a {
        position: relative;
        z-index: 11;
    }

    .main-hero_smaller_post {
        width: 100%;
    }

    .main-hero_smaller_post img {
        height: 250px;
    }

    .header_settings select {
        order: 1;
    }

    .header_search_wrapper {
        margin-top: 10px;
        order: 100;
        width: 100%;
    }

    .header_search_wrapper input {
        width: 100%;
    }

    .header_burger {
        order: 2;
        margin-top: 10px;
    }

    .header_top_info_wrapper {
        display: flex;
        flex-direction: column;
    }

    .header_top_info_wrapper a:nth-child(2) {
        margin-top: 10px;
    }

    .main-hero_action_item {
        width: 100%;
        margin-right: 0;
    }

    .main-hero_action_item span {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .main-hero_action_posts {
        position: static;
    }

    .main-hero_action_post {
        width: 100%;
    }

    .main-hero_side_bar_slider:nth-of-type(1) {
        display: block;
        width: 100%;
    }

    .main-hero_action_list {
        margin-bottom: 20px;
    }

    .main-hero {
        padding-top: 40px;
    }

    .news_item {
        width: 100%;
    }

    .footer_list {
        flex-direction: column;
        text-align: center;
    }

    footer {
        padding: 20px;
    }

    .footer_socials {
        margin-top: 20px;
    }

    .cat_item {
        flex-direction: column;
        padding: 5% 0;
    }

    .cat_item img {
        width: 100%;
    }

    .cat_info_wrapper {
        margin-left: 0;
    }

    .wrapper_sidebar_section {
        padding-top: 5%;
    }

    .cat_pagination_list {
        margin-top: 5%;
    }

    .news {
        padding-top: 8%;
    }

    .detail_reg-item {
        width: 100%;
    }

    .detail_reg-item img {
        width: 100% !important;
    }

    .detail_reg-select {
        width: 100%;
    }

    .detail_reg-item.info {
        margin-top: 5%;
    }

    .header_search_wrapper button {
        height: 44px;
    }

    .headers-mayor_fullname {
        margin-top: 5%;
    }
}

@media screen and (max-width: 400px) {
    :root {
        --size-text: 16px;
        --size-text-large: 20px;
        --size-text-small: 14px;

        --size-heading: 28px;
        --size-heading-large: 34px;
        --size-heading-small: 24px;
    }

    .header_search_wrapper button {
        height: 43px;
    }

    .headers_item img {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    :root {
        --size-text: 15px;
        --size-text-large: 19px;
        --size-text-small: 13px;

        --size-heading: 26px;
        --size-heading-large: 32px;
        --size-heading-small: 22px;
    }

    .header_search_wrapper {
        width: 100%;
    }

    .header_search_wrapper button {
        height: 42px;
    }
}